<a href="https://colab.research.google.com/github/kurt-schleich/aula1/blob/main/c_pia_de_ol_este_o_colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ganho = 100*1.1**7
print(ganho)

194.87171000000012

In [ ]:
savings = 100
growth_multiplier = 1.1
desc = 'compound interest'
#multiplique growth com savings dentro do year1
year1 = savings *growth_multiplier
#printar o tipo do year1
print(type(year1))
#printar a concatenação(junção) de desc com desc como sendo a variavel doubledesc
doubledesc = 'desc' + 'desc'
print(doubledesc)

<class 'float'>
descdesc

In [ ]:
#definição da pi_string
pi_string = '3.1415926'
#transforme string em float
pi_float = float(pi_string)
print(type(pi_string))
print(type(pi_float))

<class 'str'>
<class 'float'>

In [ ]:
savings = 100
result = 100 * 1.10 ** 7
print('i startd with $' + savings + ' and now i have $' + result + 'awesome!')

In [ ]:
#erro do código 8 foi que str não soma nem com float nem com int
savings = 100
result = 100 * 1.10 ** 7
print('I startd with $' + str(savings) + ' and now i have $' + str(result) + '. Awesome!')

I startd with $100 and now i have $194.87171000000012. Awesome!

In [ ]:
#possibilidade de resolução
savings = 100
result = 100 * 1.10 ** 7
print('I startd with $',savings,' and now i have $',result,'. Awesome!')

I startd with $ 100  and now i have $ 194.87171000000012 . Awesome!

In [ ]:
pip install python==3.9.16

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement python==3.9.16 (from versions: none)
ERROR: No matching distribution found for python==3.9.16

In [ ]:
print(True + False)

1

In [ ]:
alturas = [1.71, 1.76, 1.68, 1.62]
fam=tuple(alturas)
print(type(fam))
print(fam)

<class 'tuple'>
(1.71, 1.76, 1.68, 1.62)

In [ ]:
alturas = (1.71, 1.76, 1.68, 1.62)
fami=list(alturas)
print(type(fami))
print(fami)

<class 'list'>
[1.71, 1.76, 1.68, 1.62]

In [ ]:
alturas = ['kurt '+ str(1.71), 'mom '+ str(1.68), 'dad '+ str(1.72)]
for altura in alturas:
  print(altura)
  print(type(alturas))

kurt 1.71
<class 'list'>
mom 1.68
<class 'list'>
dad 1.72
<class 'list'>

In [ ]:
alturas = [['kurt',1.71], ['mom', 1.68], ['dad', 1.72]]
print(type(alturas))

<class 'list'>

In [ ]:
#variavel areas
hall = 14.00
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
#crie a lista
house = ['bathroom', bath, 'bedroom', bed, 'hallway', hall, 'kitchen', kit, 'livingroom', liv]
#printar areas
print(house)

['bathroom', 9.5, 'bedroom', 10.75, 'hallway', 14.0, 'kitchen', 18.0, 'livingroom', 20.0]

In [ ]:
#lista com 4 valores inteiros
list1 = [1, 3, 4, 2]
#lista com duas lista(de 3 termos cada)
list2 = [[1,2,3], [4,5,7]]
#lista com expressão algébrica, string de 5 'a's e o INT 3
list3 = [1+2, 'a' * 5, 3]
print(list1)
print(list2)
print(list3)

[1, 3, 4, 2]
[[1, 2, 3], [4, 5, 7]]
[3, 'aaaaa', 3]

In [ ]:
#variavel areas
hall = 14.00
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
#crie a lista
house = [ ['hallway', hall], ['kitchen', kit], ['livingroom', liv], ['bedroom', bed], ['bathroom', bath]]
#printar areas
for areas in house:
  print(areas)
#printe tbm o tipo
print(type(house))
print(house[1])
print(house[-1])

['hallway', 14.0]
['kitchen', 18.0]
['livingroom', 20.0]
['bedroom', 10.75]
['bathroom', 9.5]
<class 'list'>
['kitchen', 18.0]
['bathroom', 9.5]

In [ ]:
print(house[3:6])
print(house[1:-1])
print(house[1:3])
print(house[:6])
print(house[3:])

[['bedroom', 10.75], ['bathroom', 9.5]]
[['kitchen', 18.0], ['livingroom', 20.0], ['bedroom', 10.75]]
[['kitchen', 18.0], ['livingroom', 20.0]]
[['hallway', 14.0], ['kitchen', 18.0], ['livingroom', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
[['bedroom', 10.75], ['bathroom', 9.5]]

In [ ]:
print(house[1])
print(house[-1])
print(house[2])

['kitchen', 18.0]
['bathroom', 9.5]
['livingroom', 20.0]